/* Import Foundation CSS from tikz2svg.com */
@import './assets/css/foundation/master-variablesf195.css';
@import './assets/css/foundation/global-basef195.css';
@import './assets/css/shared_variablesc619.css';

/* Components */
@import './assets/css/file_cardf9e3.css';
@import './assets/css/navigationc619.css';
@import './assets/css/login_modalc619.css';
@import './assets/css/chatbot-widgetc619.css';

/* Views */
@import './assets/css/index3661.css';
@import './assets/css/prompt-to-tikzc619.css';

/* Retaining some specific overrides if necessary */
.tikz-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
